















Header


<section class="menu1 menu horizontal-menu cid-rG2YIN3tjl" id="menu1-c">

<!-- <div class="menu-wrapper"> -->
<nav class="navbar navbar-dropdown navbar-expand-lg navbar-fixed-top">
   <div class="menu-container container">
       <!-- SHOW LOGO -->
       <div class="navbar-brand">
           <div class="navbar-logo">
               <amp-img src="{% static "img/logoPicOnly.png" %}" layout="responsive" height="69" width="69" alt="" class="placeholder-loader">
                   <div placeholder="" class="placeholder">
                              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
                                  <circle class="big" fill="none" stroke="#c2e0e0" stroke-width="3" stroke-dasharray="230" stroke-dashoffset="230" cx="150" cy="150" r="145"></circle>
                                  <circle class="small" fill="none" stroke="#c2e0e0" stroke-width="3" stroke-dasharray="212" cx="150" cy="150" r="135"></circle>
                              </svg></div>

               </amp-img>
           </div>
           <span class="navbar-caption-wrap"><a class="navbar-caption mbr-bold text-primary display-2" href="index.html">Nova</a></span>
       </div>
       <!-- SHOW LOGO END -->
       <!-- COLLAPSED MENU -->
       <div class="collapse navbar-collapse" id="navbarSupportedContent">

           <!-- NAVBAR ITEMS -->
           <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item dropdown open">
                   <a class="nav-link link mbr-bold text-black dropdown-toggle display-7" data-toggle="dropdown-submenu" aria-expanded="true">Dropdown</a>
                   <div class="dropdown-menu">
                       <a class="text-black mbr-bold dropdown-item display-7" href="https://8b.com">Home</a>
                       <a class="text-black mbr-bold dropdown-item display-7" href="https://8b.com">Classews</a>
                   </div>
               </li>
               <li class="nav-item">
                   <a class="nav-link mbr-bold link text-black display-7" href="https://8b.com">Home</a>
               </li>
              </ul>
           <!-- NAVBAR ITEMS END -->
           <!-- SOCIAL ICON -->

           <!-- SOCIAL ICON END -->

       </div>
       <!-- COLLAPSED MENU END -->

       <button on="tap:sidebar.toggle" class="ampstart-btn hamburger">
           <span></span>
           <span></span>
           <span></span>
           <span></span>
       </button>
   </div>
</nav>
<!-- AMP plug -->

<!-- </div> -->
</section>





























Footer





<section class="footer1 cid-rG2Znbcnke" id="footer1-d">


    <div class="footer-container container">
        <div class="mbr-row link-items mbr-jc-c mbr-fonts-style display-7">






        <div class="copyright mbr-px-2 mbr-flex mbr-jc-c">
            <p class="mbr-text mbr-fonts-style mbr-white align-center display-7">© <span>2019 Nova Education</span></p>
        </div>
    </div>
</section>
